@model IEnumerable<Template>
@{
    ViewBag.Title = "发放红包";
}

<form asp-action="Deliver" asp-controller="RedPocket" id="frmDeliver" class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">发放红包</h4>
                <p class="category">请设置发放规则，系统将按下规则分发红包</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <tr>
                        <td class="row-title">活动名称</td>
                        <td><input id="txtTitle" type="text" name="title" class="form-control" style="width: 50%;display:inline-block" /></td>
                    </tr>
                    <tr>
                        <td class="row-title">中奖率</td>
                        <td><input id="txtRatio" type="text" name="ratio" class="form-control" value="30.0" style="width: 50%;display:inline-block" /> %</td>
                    </tr>
                    <tr>
                        <td class="row-title">限制</td>
                        <td>本轮每用户最多 <input id="txtLimit" type="text" name="limit" class="form-control" value="3" style="width: 10%;display:inline-block" /> 个</td>
                    </tr>
                    <tr>
                        <td class="row-title">红包设定</td>
                        <td>
                            <input type="hidden" name="Rules" />
                            <input type="hidden" name="TemplateId" />
                            <table class="table" style="background: none">
                                <colgroup>
                                    <col style="width: 80px;" />
                                    <col />
                                    <col />
                                    <col />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>红包类型</th>
                                        <th>奖项</th>
                                        <th>个数</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id="rule-list"></tbody>
                            </table>
                            <p>
                                <a class="btn btn-xs btn-info" href="javascript:AddFixedBribery();">添加固定金额红包</a>
                                &nbsp;&nbsp;&nbsp;
                                <a class="btn btn-xs btn-info" href="javascript:AddRangeBribery();">添加区间金额红包</a>
                                &nbsp;&nbsp;&nbsp;
                                <a class="btn btn-xs btn-info" href="javascript:AddUrlBribery();">添加链接地址红包</a>
                                &nbsp;&nbsp;&nbsp;
                                <a class="btn btn-xs btn-info" href="javascript:AddCouponBribery();">添加优惠券红包</a>
                            </p>
                        </td>
                    </tr>
                </table>
                <p style="text-align: center"><input type="submit" id="btnDeliver" class="btn btn-danger" value="开始发放" /></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">红包页面模板</h4>
                <p class="category">选择红包活动页面展现形式</p>
            </div>
            <div class="content" style="zoom: 0.5">
                @foreach (var x in Model)
                {
                    @if (x.Type == TemplateType.Shake)
                    {
                        <div class="pocket-template" data-id="@x.Id">
                            <div>
                                <img class="top-part" src="/file/download/@x.TopPartId" />
                                <img class="bottom-part" src="/file/download/@x.BottomPartId" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="pocket-template" data-id="@x.Id">
                            <div>
                                <img class="full" src="/file/download/@x.BackgroundId" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</form>
<script>
    function removeRule(dom)
    {
        $(dom).parent('td').parent('tr').remove();
    }

    function AddFixedBribery()
    {
        $('#rule-list').append('<tr data-type="cash"><td>固定金额</td><td><input type="textbox" class="form-control price" value="0.00" /></td><td><input type="textbox" class="form-control count" value="0" /></td><td><a href="javascript:;" onclick="removeRule(this)">删除</a></td></tr>');
    }

    function AddRangeBribery()
    {
        $('#rule-list').append('<tr data-type="cash"><td>区间金额</td><td><input style="width: 40%; display:inline-block" type="textbox" class="form-control price-from" value="0.00" /> ~ <input style="width: 40%; display:inline-block" type="textbox" class="form-control price-to" value="0.00" /></td><td><input type="textbox" class="form-control count" value="0" /></td><td><a href="javascript:;" onclick="removeRule(this)">删除</a></td></tr>');
    }

    function AddUrlBribery() {
        $('#rule-list').append('<tr data-type="url"><td>外部链接</td><td><input type="textbox" class="form-control url" value="http://" /></td><td><input type="textbox" class="form-control count" value="0" /></td><td><a href="javascript:;" onclick="removeRule(this)">删除</a></td></tr>');
    }

    function AddCouponBribery() {
        $.get('/Coupon/CouponSelect', {}, function (data) {
            var select = '<select class="form-control coupon">' + data + '</select>';
            $('#rule-list').append('<tr data-type="coupon"><td>优惠券</td><td>' + select + '</td><td><input type="textbox" class="form-control count" value="0" /></td><td><a href="javascript:;" onclick="removeRule(this)">删除</a></td></tr>');
        });
    }

    $('#frmDeliver').submit(function () {
        if ($('.template-active').length == 0)
        {
            alert('请选择一个红包页面模板');
            return false;
        }
        else
        {
            $('input[name="TemplateId"]').val($('.template-active').attr('data-id'));
        }
        var rules = [];
        var rulesDom = $('#rule-list tr');
        if (rulesDom.length == 0) {
            alert("请设置红包规则");
            return false;
        }
        for (var i = 0; i < rulesDom.length; i++) {
            if ($(rulesDom[i]).find('.price').length > 0) // 固定金额
                rules.push({
                    Type: 'Cash',
                    From: parseInt(parseFloat($(rulesDom[i]).find('.price').val()) * 100),
                    To: parseInt(parseFloat($(rulesDom[i]).find('.price').val()) * 100),
                    Count: $(rulesDom[i]).find('.count').val()
                });
            else if ($(rulesDom[i]).find('.price-from').length > 0) // 区间金额
                rules.push({
                    Type: 'Cash',
                    From: parseInt(parseFloat($(rulesDom[i]).find('.price-from').val()) * 100),
                    To: parseInt(parseFloat($(rulesDom[i]).find('.price-to').val()) * 100),
                    Count: $(rulesDom[i]).find('.count').val()
                });
            else if ($(rulesDom[i]).find('.url').length > 0)
                rules.push({
                    Type: 'Url',
                    Url: $(rulesDom[i]).find('.url').val(),
                    Count: $(rulesDom[i]).find('.count').val()
                });
            else
                rules.push({
                    Type: 'Coupon',
                    Coupon: $(rulesDom[i]).find('.coupon').val(),
                    Count: $(rulesDom[i]).find('.count').val()
                });
        }
        $('input[name="Rules"]').val(JSON.stringify(rules));
    });

    $('.pocket-template').click(function () {
        $('.pocket-template').removeClass('template-active');
        $(this).addClass('template-active');
    });
</script>