@model Template
@{ 
    ViewBag.Title = "编辑红包模板";
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card">
            <div class="header">
                <h4 class="title">红包模板</h4>
                <p class="category">编辑红包页面图片素材</p>
            </div>
            <div class="content table-responsive table-full-width">
                @if (Model.Type == TemplateType.Shake)
                {                    
                    <div role="tabpanel" class="tab-pane active" id="shake">
                        <div class="template-edit">
                            <img class="shake-bg" src="/file/download/@Model.BackgroundId" />
                            <img class="top" src="/file/download/@Model.TopPartId" />
                            <img class="bottom" src="/file/download/@Model.BottomPartId" />
                        </div>
                        <hr />
                        <div class="template-pop">
                            <img class="shake-drawn" src="/file/download/@Model.DrawnId" />
                            <img class="shake-undrawn" src="/file/download/@Model.UndrawnId" />
                            <img class="shake-pending" src="/file/download/@Model.PendingId" />
                        </div>
                        <hr />
                        <p style="text-align: center; color: #888">将图片文件拖拽至上半部分、下半部分、中间背景、中奖图片上以替换图片。</p>
                        <p style="text-align: center">
                            <a href="javascript: demoShake();" class="btn btn-success">演示效果</a>
                            &nbsp;&nbsp;
                            <a href="javascript: Submit(0);" class="btn btn-danger">保存修改</a>
                        </p>
                    </div>
                }
                else if (Model.Type == TemplateType.Shoop)
                {
                    <div role="tabpanel" class="tab-pane" id="shoop">
                        <div class="template-edit">
                            <img class="shoop-bg" src="/file/download/@Model.BackgroundId" />
                            <img class="button" src="/file/download/@Model.TopPartId" />
                            <div class="button-circle"></div>
                            <div class="button-circle second"></div>
                            <div class="button-circle third"></div>
                        </div>
                        <hr />
                        <div class="template-pop">
                            <img class="shoop-drawn" src="/file/download/@Model.DrawnId" />
                            <img class="shoop-undrawn" src="/file/download/@Model.UndrawnId" />
                            <img class="shoop-pending" src="/file/download/@Model.PendingId" />
                        </div>
                        <hr />
                        <p style="text-align: center; color: #888">将图片文件拖拽至背景、咻一咻按钮、中奖图片上以替换图片。</p>
                        <p style="text-align: center">
                            <a href="javascript: demoShoop();" class="btn btn-success">演示效果</a>
                            &nbsp;&nbsp;
                            <a href="javascript: Submit(1);" class="btn btn-danger">保存修改</a>
                        </p>
                    </div>
                }
                else
                {
                    <div role="tabpanel" class="tab-pane" id="command">
                        <div class="template-edit">
                            <img class="command-bg" src="/file/download/@Model.BackgroundId" />
                        </div>
                        <hr />
                        <div class="template-pop">
                            <img class="command-drawn" src="/file/download/@Model.DrawnId" />
                            <img class="command-undrawn" src="/file/download/@Model.UndrawnId" />
                            <img class="command-pending" src="/file/download/@Model.PendingId" />
                        </div>
                        <hr />
                        <p style="text-align: center; color: #888">将图片文件拖拽至背景以替换图片。</p>
                        <p style="text-align: center">
                            <a href="javascript: Submit(2);" class="btn btn-danger">保存修改</a>
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<audio style="display:none;" id="shakeSound" preload="metadata" controls src="~/assets/sounds/shake_sound.mp3"></audio>
<audio style="display:none;" id="shoopSound" preload="metadata" controls src="~/assets/sounds/shoop_sound.wav"></audio>
<form id="frmSubmit" asp-action="EditTemplate" asp-controller="RedPocket" asp-route-id="@Model.Id">
    <input type="hidden" name="type" id="hidType" />
    <input type="hidden" name="bg" id="hidBg" />
    <input type="hidden" name="top" id="hidTop" />
    <input type="hidden" name="bottom" id="hidBottom" />
    <input type="hidden" name="drawn" id="hidDrawn" />
    <input type="hidden" name="undrawn" id="hidUndrawn" />
    <input type="hidden" name="pending" id="hidPending" />
</form>
<script>
    var shake = {}, shoop = {};
    function demoShake()
    {
        $('.top').addClass('top-closed');
        $('.bottom').addClass('bottom-closed');
        setTimeout(function () {
            $('.top').addClass('transition-all');
            $('.bottom').addClass('transition-all');
            setTimeout(function () {
                $('#shakeSound')[0].play();
                $('.top').removeClass('top-closed');
                $('.bottom').removeClass('bottom-closed');
                setTimeout(function () {
                    $('.top').addClass('top-closed');
                    $('.bottom').addClass('bottom-closed');
                    setTimeout(function () {
                        $('.top').removeClass('top-closed');
                        $('.bottom').removeClass('bottom-closed');
                        $('.top').removeClass('transition-all');
                        $('.bottom').removeClass('transition-all');
                    }, 1200);
                }, 610);
            }, 500);
        }, 100);
    }

    function demoShoop()
    {
        $('.button-circle').addClass('transition-all');
        $('#shoopSound')[0].play();
        $($('.button-circle')[0]).addClass('scale');
        setTimeout(function () {
            $('.button-circle.second').addClass('scale');
            setTimeout(function () {
                $('.button-circle.third').addClass('scale');
                setTimeout(function () {
                    $('.button-circle').removeClass('transition-all');
                    $('.button-circle').removeClass('scale');
                }, 700);
            }, 300);
        }, 300);
    }

    $('.shake-bg').dragDropOrPaste(null, function (result) {
        $('.shake-bg').attr('src', '/file/download/' + result.Id);
        shake.bg = result.Id;
    });
    $('.top').dragDropOrPaste(null, function (result) {
        $('.top').attr('src', '/file/download/' + result.Id);
        shake.top = result.Id;
    });
    $('.bottom').dragDropOrPaste(null, function (result) {
        $('.bottom').attr('src', '/file/download/' + result.Id);
        shake.bottom = result.Id;
    });
    $('.shoop-bg').dragDropOrPaste(null, function (result) {
        $('.shoop-bg').attr('src', '/file/download/' + result.Id);
        shoop.bg = result.Id;
    });
    $('.button').dragDropOrPaste(null, function (result) {
        $('.button').attr('src', '/file/download/' + result.Id);
        shoop.btn = result.Id;
    });
    $('.shake-drawn').dragDropOrPaste(null, function (result) {
        $('.shake-drawn').attr('src', '/file/download/' + result.Id);
        shake.drawn = result.Id;
    });
    $('.shake-undrawn').dragDropOrPaste(null, function (result) {
        $('.shake-undrawn').attr('src', '/file/download/' + result.Id);
        shake.undrawn = result.Id;
    });
    $('.shake-pending').dragDropOrPaste(null, function (result) {
        $('.shake-pending').attr('src', '/file/download/' + result.Id);
        shake.pending = result.Id;
    });
    $('.shoop-drawn').dragDropOrPaste(null, function (result) {
        $('.shoop-drawn').attr('src', '/file/download/' + result.Id);
        shoop.drawn = result.Id;
    });
    $('.shoop-undrawn').dragDropOrPaste(null, function (result) {
        $('.shoop-undrawn').attr('src', '/file/download/' + result.Id);
        shoop.undrawn = result.Id;
    });
    $('.shoop-pending').dragDropOrPaste(null, function (result) {
        $('.shoop-pending').attr('src', '/file/download/' + result.Id);
        shoop.pending = result.Id;
    });
    $('.command-bg').dragDropOrPaste(null, function (result) {
        $('.command-bg').attr('src', '/file/download/' + result.Id);
        command.bg = result.Id;
    });
    $('.command-drawn').dragDropOrPaste(null, function (result) {
        $('.command-drawn').attr('src', '/file/download/' + result.Id);
        command.drawn = result.Id;
    });
    $('.command-undrawn').dragDropOrPaste(null, function (result) {
        $('.command-undrawn').attr('src', '/file/download/' + result.Id);
        command.undrawn = result.Id;
    });
    $('.command-pending').dragDropOrPaste(null, function (result) {
        $('.command-pending').attr('src', '/file/download/' + result.Id);
        command.pending = result.Id;
    });

    function Submit(type) {
        if (type == 0) {
            $('#hidBg').val(shake.bg);
            $('#hidTop').val(shake.top);
            $('#hidBottom').val(shake.bottom);
            $('#hidDrawn').val(shake.drawn);
            $('#hidUndrawn').val(shake.undrawn);
            $('#hidPending').val(shake.pending);
            $('#hidType').val('Shake');
        }
        else if (type == 1) {
            $('#hidBg').val(shoop.bg);
            $('#hidTop').val(shoop.btn);
            $('#hidType').val('Shoop');
            $('#hidDrawn').val(shoop.drawn);
            $('#hidUndrawn').val(shoop.undrawn);
            $('#hidPending').val(shoop.pending);
        }
        else {
            $('#hidBg').val(command.bg);
            $('#hidType').val('Command');
            $('#hidDrawn').val(command.drawn);
            $('#hidUndrawn').val(command.undrawn);
            $('#hidPending').val(command.pending);
        }
        $('#frmSubmit').submit();
    }
</script>